@import 'custom.css';
@media screen and  (max-width: 374px) { 
 	
.sidebar-navigation {
	/*display: inline-block;*/
	position: relative;
	height: auto;
	width: 30px;
	/*background-color: #0863A2;*/
	float: right;
	
	border-radius: 50px 0 0 50px ;
	background:var(--menu);
	z-index: 10;
	}

ul{
	text-align: center;
	color: var(--elements);
	padding-bottom:10px;
	
	
}
.container-cuadro{
	 background-color:var(--main);
	 height:600px;
	 width: 100%;
	
}
.anuncio{
	background-color:var(--elements);
	width:100%;
	height: 90px;
	position: absolute;
	top: 45%;
}
.text-anun h3{
	    color: var(--letters);
    text-align: center;
    font-size: 90px;
    padding-top: 13px;
    position: relative;
    left: 80px;
    top: -20px;
}
#total2{
	font-size: 20px;
    left: 95px;
}
#text2{	
	position: absolute;
	left: -3%;
	display: block;
	animation-duration: 6s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}
#text1,#text3{
	position: absolute;
	left: 8%;
	display: block;
	animation-duration: 6s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}
.logo-circle{
	background-color:var(--elements);
	width:100px;
	height:100px;
	position: absolute;
	top: 28%;
	left: 10px;
	border-radius: 50%;
}
.logo-circle img{
	width: 90%;
	position: absolute;
	  border-radius: 50% ;

}

.title {
    margin-top: 10px;
    position: absolute;
    left: 30%;
    font-size: 12px;
}
.clockdate{
	position: absolute;
	/* margin-top: 78%; */
	left: 100px;
	font-size: 12px;
	top: 50%;
}


.boton-r{
	 width: 45%;
	 margin-left: 15%;
	 top: -20%;
}
.imge{
	 width: 18%; 
	 margin-left: 8%;
    	top: -5%;
}

.colores{
	width: 30px;
    height: 30px;
    margin-right: 10px;
    position: relative;
    top: -20px;
    left: 27px;
}
.td1 {
        font-family: Arial;
    font-weight: bold;
    align: center;
    color: var(--letters);
    border-collapse: separate;
    border-spacing: 10px 5px;
    font-size: x-small;
    margin-left: 1px;
}
.btn-dark {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
    height: 20px;
    font-size: 10px;
    position: relative;
    left: 25px;
}

.indica {
    
    left: 55px;
}

.tarifa {
    position: absolute;
    width: 250px;
    left: 20px;
    top: 90px;
    font-size: 8px;
    display: inline-block;
}
.dinero {
    position: relative;
    float: right;
    display: grid;
    top: 150px;
}
.bill {
    position: relative;
    display: inline-block;
    width: 30px;
    padding-top: 0px;
    border-radius: 5%;
    margin: 3px;
}.coins {
    padding-top: 10px;
}
.coin {
    position: relative;
    display: inline-block;
    width: 15px;
    border-radius: 50%;
    margin: 4px;
    padding-top: 0px;
}
.clock{
	    position: absolute;
    top: 10%;
}
.clock div {
    display: inline-block;
    position: relative;
    left: 3%;
    top: 340px;
    margin-right: 3px;
    width: 80px;
    font-size: 8px;
}

.clockin i {
    font-size: 15px;
    position: relative;
    left: 40%;
}
.anun-2 {
    font-size: 12px;
    position: relative;
    left: 8px;
    margin: 10px 0 10px;
}
.image-2 {
    width: 40%;
    position: absolute;
    top: -25px;
    left: 20px;
}

.cancel{
	position: absolute;
	top: 90%;
    left: 35%;
  }
  .cancel img{
	width: 20%;
  }


 }


 @media screen and (min-width: 375px) and (max-width: 424px) { 
 	
.sidebar-navigation {
	/*display: inline-block;*/
	position: relative;
	height: auto;
	width: 30px;
	/*background-color: #0863A2;*/
	float: right;
	
	border-radius: 50px 0 0 50px ;
	background:var(--menu);
	z-index: 10;
	}

ul{
	text-align: center;
	color: var(--elements);
	padding-bottom:10px;
	
	
}
.container-cuadro{
	 background-color:var(--main);
	 height:600px;
	 width: 100%;
	
}
.anuncio{
	background-color:var(--elements);
	width:100%;
	height: 90px;
	position: absolute;
	top: 45%;
}
.text-anun h3{
	    color: var(--letters);
    text-align: center;
    font-size: 90px;
    padding-top: 13px;
    position: relative;
    left: 110%;
    top: -20px;
}
#total2{
	font-size: 20px;
    left: 130px;
}
#text2{	
	position: absolute;
	left: -3%;
	display: block;
	animation-duration: 6s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}
#text1,#text3{
	position: absolute;
	left: 8%;
	display: block;
	animation-duration: 6s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}
.logo-circle{
	background-color:var(--elements);
	width:100px;
	height:100px;
	position: absolute;
	top: 28%;
	left: 10px;
	border-radius: 50%;
}
.logo-circle img{
	width: 90%;
	position: absolute;
	  border-radius: 50% ;

}

.title {
    margin-top: 10px;
    position: absolute;
    left: 30%;
    font-size: 12px;
}
.clockdate{
	position: absolute;
	/* margin-top: 78%; */
	left: 100px;
	font-size: 12px;
	top: 50%;
}


.boton-r{
	 width: 45%;
	 margin-left: 15%;
	 top: -20%;
}
.imge{
	 width: 18%; 
	 margin-left: 8%;
    	top: -5%;
}

.colores{
	width: 30px;
    height: 30px;
    margin-right: 10px;
    position: relative;
    top: -20px;
    left: 27px;
}
.td1 {
        font-family: Arial;
    font-weight: bold;
    align: center;
    color: var(--letters);
    border-collapse: separate;
    border-spacing: 10px 5px;
    font-size: x-small;
    margin-left: 1px;
}
.btn-dark {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
    height: 20px;
    font-size: 10px;
    position: relative;
    left: 25px;
}

.indica {
    
    left: 55px;
}

.tarifa {
    position: absolute;
    width: 250px;left: 15%;
    top: 90px;
    font-size: 8px;
    display: inline-block;
}
.dinero {
    position: relative;
    float: right;
    display: grid;
    top: 150px;
}
.bill {
    position: relative;
    display: inline-block;
    width: 30px;
    padding-top: 0px;
    border-radius: 5%;
    margin: 3px;
}.coins {
    padding-top: 10px;
}
.coin {
    position: relative;
    display: inline-block;
    width: 15px;
    border-radius: 50%;
    margin: 4px;
    padding-top: 0px;
}
.clock{
	  position: absolute;
    top: 10%;
}
.clock div {
    display: inline-block;
    position: relative;
    left: 3%;
    top: 330px;
    margin-right: 3px;
     width: 30%;
    font-size: 8px;
}

.clockin i {
    font-size: 15px;
    position: relative;
    left: 50px;
}
.anun-2 {
    font-size: 12px;
    position: relative;
    left: 8px;
    margin: 10px 0 10px;
}
.image-2 {
    width: 40%;
    position: absolute;
    top: -30px;
    left: 30px;
}

.cancel{
	position: absolute;
	top: 90%;
    left: 35%;
  }
  .cancel img{
	width: 20%;
  }



 }

 @media screen and (min-width: 425px) and (max-width: 767px) { 
 	
.sidebar-navigation {
	/*display: inline-block;*/
	position: relative;
	height: auto;
	width: 30px;
	/*background-color: #0863A2;*/
	float: right;
	
	border-radius: 50px 0 0 50px ;
	background:var(--menu);
	z-index: 10;
	}

ul{
	text-align: center;
	color: var(--elements);
	padding-bottom:10px;
	
	
}
.container-cuadro{
	 background-color:var(--main);
	 height:600px;
	 width: 100%;
	
}
.anuncio{
	background-color:var(--elements);
	width:100%;
	height: 100px;
	position: absolute;
	top: 45%;
}
.text-anun  {
    position: absolute;
    
    left: 40%;
}
.text-anun h3 {
    color: var(--letters);
    text-align: center;
    font-size: 120px;
    padding-top: 13px;
    left: 3%;
    top: -34px;
}
#total2{
	font-size: 20px;
    left: 25px;
}
#text2{	
	position: absolute;
	left: -3%;
	display: block;
	animation-duration: 6s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}
#text1,#text3{
	position: absolute;
	left: 8%;
	display: block;
	animation-duration: 6s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}
.logo-circle {
    background-color: var(--elements);
    width: 150px;
    height: 150px;
    position: absolute;
    top: 40%;
    left: 10px;
    border-radius: 50%;
}
.logo-circle img{
	width: 90%;
	position: absolute;
	  border-radius: 50% ;

}

.title {
    margin-top: 10px;
    position: absolute;
    left: 40%;
    font-size: 12px;
}
.clockdate{
	position: absolute;
	/* margin-top: 78%; */
	left: 100px;
	font-size: 12px;
	top: 50%;
}


.boton-r{
	 width: 45%;
	 margin-left: 15%;
	 top: -20%;
}
.imge{
	 width: 18%; 
	 margin-left: 8%;
    	top: -5%;
}

.colores{
	width: 30px;
    height: 30px;
    margin-right: 10px;
    position: relative;
    top: -20px;
    left: 27px;
}
.td1 {
        font-family: Arial;
    font-weight: bold;
    align: center;
    color: var(--letters);
    border-collapse: separate;
    border-spacing: 10px 5px;
    font-size: x-small;
    margin-left: 1px;
}
.btn-dark {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
    height: 20px;
    font-size: 10px;
    position: relative;
    left: 25px;
}

.indica {
    
    left: 55px;
}

.tarifa {
    position: absolute;
    width: 250px;left: 20%;
    top: 90px;
    font-size: 8px;
    display: inline-block;
}
.dinero {
    position: relative;
    float: right;
    display: grid;
    top: 130px;
}
.bill {
    position: relative;
    display: inline-block;
    width: 40px;
    padding-top: 0px;
    border-radius: 5%;
    margin: 3px;
}.coins {
    padding-top: 10%;
    left: 6%;
}
.coin {
    position: relative;
    display: inline-block;
    width: 20px;
    border-radius: 50%;
    margin: 4px;
    padding-top: 0px;
}
.clock {
    position: absolute;
    top: 17%;
    /* left: 10%; */
    width: 90%;
}
.clock div {
    display: inline-block;
    position: relative;
    left: 3%;
    top: 330px;
    margin-right: 3px;
     width: 30%;
    font-size: 10px;
}

.clockin i {
    font-size: 25px;
    position: relative;
    left: 20%;
}
.anun-2 {
    font-size: 12px;
    position: relative;
    left: -8px;
    margin: 10px 0 10px;
}
.image-2 {
    width: 30%;
    position: absolute;
    top: -40px;
    left: 30px;

 }
 .cancel{
	position: absolute;
	top: 70%;
    left: 80%;
  }
  .cancel img{
	width: 35%;
  }


}


 @media screen and (min-width: 768px) and (max-width: 1023px) { 
 	
.sidebar-navigation {
	/*display: inline-block;*/
	position: relative;
	height: auto;
	width: 60px;
	/*background-color: #0863A2;*/
	float: right;
	
	border-radius: 50px 0 0 50px ;
	background:var(--menu);
	z-index: 10;
	}

ul{
	text-align: center;
	color: var(--elements);
	padding-bottom:10px;
	
	
}
.container-cuadro{
	 background-color:var(--main);
	 height:600px;
	 width: 100%;
	
}
.anuncio{
	background-color:var(--elements);
	width:100%;
	height: 100px;
	position: absolute;
	top: 45%;
}
.text-anun  {
    position: absolute;
    
    left: 40%;
}
.text-anun h3 {
    color: var(--letters);
    text-align: center;
    font-size: 120px;
    padding-top: 13px;
    left: 3%;
    top: -34px;
}
#total2{
	font-size: 20px;
    left: 30px;
}
#text2{	
	position: absolute;
	left: -3%;
	display: block;
	animation-duration: 6s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}
#text1,#text3{
	position: absolute;
	left: 8%;
	display: block;
	animation-duration: 6s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}
.logo-circle {
   width: 210px;
    height: 210px;
    position: absolute;
    top: 33%;
    left: 10px;
}
.logo-circle img{
	width: 90%;
	position: absolute;
	  border-radius: 50% ;

}

.title {
    margin-top: 10px;
    position: absolute;
    left: 40%;
    font-size: 12px;
}
.clockdate{
	position: absolute;
	/* margin-top: 78%; */
	left: 100px;
	font-size: 12px;
	top: 50%;
}


.boton-r{
	 width: 45%;
	 margin-left: 15%;
	 top: -20%;
}
.imge{
	 width: 18%; 
	 margin-left: 8%;
    	top: -5%;
}

.colores{
	width: 30px;
    height: 30px;
    margin-right: 10px;
    position: relative;
    top: -20px;
    left: 27px;
}
.td1 {
        font-family: Arial;
    font-weight: bold;
    align: center;
    color: var(--letters);
    border-collapse: separate;
    border-spacing: 10px 5px;
    font-size: x-small;
    margin-left: 1px;
}
.btn-dark {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
    height: 20px;
    font-size: 10px;
    position: relative;
    left: 25px;
}

.indica {
    
    left: 55px;
}

.tarifa {
    position: absolute;
    width: 350px;
    left: 5%;
    top: 15%;
    font-size: 10px;
}
.dinero {
    position: relative;
    float: right;
    display: grid;
    top: 100px;
}
.bill {
    position: relative;
    display: inline-block;
    width: 50px;
    padding-top: 0px;
    border-radius: 5%;
    margin: 3px;
}.coins {
    padding-top: 10%;
    left: 5%;
}
.coin {
    position: relative;
    display: inline-block;
    width: 25px;
    border-radius: 50%;
    margin: 4px;
    padding-top: 0px;
}
.clock {
    position: absolute;
    top: 17%;
     left: 10%; 
    width: 90%;
}
.clock div {
    display: inline-block;
    position: relative;
    left: 3%;
    top: 330px;
    margin-right: 3px;
     width: 30%;
    font-size: 10px;
}

.clockin i {
    font-size: 25px;
    position: relative;
    left: 20%;
}
.anun-2 {
    font-size: 12px;
    position: relative;
    left: -8px;
    margin: 10px 0 10px;
}
.image-2 {
    width: 30%;
    position: absolute;
    top: -40px;
    left: 30px;

 }
 .cancel{
	position: absolute;
	top: 65%;
    left: 80%;
  }
  .cancel img{
	width: 40%;
  }



 }



 @media screen and (min-width: 1024px){ 
 	
.sidebar-navigation {
	/*display: inline-block;*/
	position: relative;
	height: auto;
	width: 60px;
	/*background-color: #0863A2;*/
	float: right;
	
	border-radius: 50px 0 0 50px;
	background:var(--menu);
	z-index: 10;
	}

.container-cuadro{
	 background-color:var(--main);
	 height:630px;
	 width: 100%;
	
}
.anuncio{
	background-color:var(--elements);
	width:100%;
	height: 140px;
	position: absolute;
	top: 45%;
}
.text-anun {
	position: absolute;
	left: 35%;
}
#total2{
	font-size: 20px;
    left: 90px;
}
.text-anun h3{
	color:var(--letters);
	text-align: center;
	padding-top:8px;
	
}
#text2{
	position: absolute;
	left: 21%;
	display: block;
	animation-duration: 4s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	/* margin-top: -13px; */
}
#text1,#text3{
	position: absolute;
	left: 28%;
	display: block;
	animation-duration: 4s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;

}
.logo-circle{
	background-color:var(--elements);
    width: 250px;
    height: 250px;
    position: absolute;
    top: 35%;
    left: 30px;
    border-radius: 50%;

}
.logo-circle img{
	width: 90%;
	position: absolute;
	  border-radius: 50% ;

}

.title{
	position: absolute;
	margin-top: 40px;
	left: 40%;
	font-size: 18px;
}
.clockdate{
	position: absolute;
	/* margin-top: 35%; */
	left: 450px;
	font-size: 18px;
	top: 27%;
}

.boton-r {
    width: 28%;
    margin-left: 8%;
    top: -50%;
}
.imge{
	 width: 13%; 
	 margin-left: 8%;
    	top: -5%;
}
.tarifa {
    position: absolute;
    width: 400px;
    left: 2%;
    top: 18%;
    font-size: 10px;
    display: inline-block;
}
.dinero {
    position: relative;
    float: right;
    display: grid;
    top: 1%;
    
}
.bills{    
    position: relative;
    float: right;
    padding-right: 40px;
}
.bill{
    position: relative;
     display: inline-block;
     width: 50px;
     border-radius: 20%;
     margin: 3px;
 }
 .coin{
    position: relative;
     display: inline-block;
     width: 25px;
     border-radius: 50%;
     margin: 6px;
 }
.pagar h3 {
    display: table-cell;
    position: relative;
    left: 20%;
    top: -30px;
    font-size: 150px;
}
.clock{
	position: absolute;
    top: 17%;
    left: 12%;

 }
 #total2 {
    font-size: 20px;
    left: 60px;
}
.cancel{
	position: absolute;
	top: 80%;
    left: 85%;
  }
  .cancel img{
	width: 20%;
  }


}
