@import 'custom.css';
* {
	margin: 0;
	padding: 3.5px 0 0 2px;
	list-style: none;
	font-family: 'Lato', sans-serif;
	line-height: 1;
}

body {
	background-color: #F5F6F8;
	overflow: hidden;
}

.sidebar-navigation {
	position: relative;
	height: auto;
	width: 80px;
	float: right;
	
	border-radius: 50px 0 0 50px ;
	background:var(--menu);
	z-index: 10;
	}

ul{
	text-align: center;
	color: var(--elements);
	padding-bottom:30px;
	
	
}
li{
	
	padding-top:50px;
	padding-bottom:40px;
	
}
.container-cuadro{
	 background-color:var(--main);
	 height:630px;
	
}
.anuncio{
	background-color:var(--elements);
	width:100%;
	height:150px; 
	position: absolute;
 	 top: 40%;
}
.text-anun h3{
	color:var(--letters);
	text-align: center;
	font-size:80px;
	padding-top:20px;
	
}
#text2{
  position: absolute;
  left: 32%;
  display: block;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  
    
}
#text1,#text3{
	position: absolute;
	left: 32%;
	display: block;
	animation-duration: 5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;

}
.logo-circle{
	background-color:var(--elements);
	width:290px;
	height:290px;
	position: absolute;
	  top: 27%;
	  left:80px;
	  border-radius: 50% ;

	/*background-image: url("../images/logo.png");
	background-size: initial;*/
}
#text1{
	animation-name: anim-1;
}

#text2{
	animation-name: anim-2;
}

#text3{
	animation-name: anim-3;
}


@keyframes anim-1 {
	0%, 10% {opacity: 0; }
  10%,20% {opacity: 1; }
  33%, 100% {opacity: 0;}
}

@keyframes anim-2 {
	0%, 33% {opacity: 0; }
  45%, 55% {opacity: 1; }
  66%, 100% {opacity: 0; }
}

@keyframes anim-3 {
	0%, 66% {opacity: 0; }
  80%, 90% {opacity: 1; }
  100% {opacity: 0; }
}

.logo-circle img[src*="images/"]{
	
	width: 90%;
	position: absolute;
	border-radius: 25% ;
    content:var(--logo);
    top: 15%;
    left: 5%;
	
}

.title{
  font-family: arial;
	position: relative;
 	margin-top: 40px;
 	left: 55px;
}
.title h1, h2{
 	text-align: center;
	color:var(--letters);
}
.clockdate{
	position: relative;
	margin-top: 28%;
	left: 65px;
}
.clockdate h1 , h2{
 	text-align: center;
	color:var(--letters);
}
.boton-r{
	 width: 10%; 
	 margin-left: 10%;
    	top: -35%;
}
.codig{
   width: 12%; 
   margin-left: 10%;
      top: -7%;
}
.camb{

   width: 13%; 
   margin-left: 10%;
      top: -7%;
}
.deposito h3 {
	    display: table-cell;
    position: relative;
    left: 900px;
    top: -115px;
}
.pagar h3 {
	    display: table-cell;
    position: relative;
    left: 620px;
    top: -30px;
    font-size: 150px;
}
.clock div{
	display: inline-block;
    position: relative;
    left: 35%;
    top: 370px;
    margin-right: 80px;
}
.image-2{
	 width: 60%;
    position: absolute;
    top: -60px;
    left: 30px;
}
.clockin i{
    font-size: 30px;
    position: relative;
    left: 50px;

}
.anun-2{
    font-size: 12px;
    position: relative;
    left: 8px;
    margin: 10px 0 10px;

}

.logo-tem{
	width:100%;
	height:110px; 
	position: absolute;
 	 top: 50%;
}
.input1{
  width: 1px;
  height: 1px;
  overflow: hidden;
}
#text0{
	position: absolute;
	left: 30%;
	display: block;
	font-size: medium;

}

.td1 {
 font-family: Arial; 
 font-weight: bold;
 color:#0000cc; 
 text-align: center;
 color:var(--letters);
  border-collapse: separate;
  border-spacing: 10px 5px;
  padding: 0 3% 0 4%;
  position: relative;
  left: 30px;
}
.btn-success {
      color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    width: 100px;
    height: 40px;
    font-size: 20px;
    position: absolute;
    top: 116%;
    left: 30%;
}

.btn-primary {
  color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    height: 40px;
    font-size: 20px;
    position: absolute;
    top: 116%;
    left: 60%;
}

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
   position: absolute;
    top: 116%;
    left: 60%;
}

.btn-dark {
  color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
    height: 40px;
    font-size: 20px;
     position: absolute;
    top: 70%;
    left: 45%;
}
.nav{
  position: relative;
    top: 260px;
}
.nav img{
  width: 40px;
}

.subir{
    padding: 5px 10px;
    background: #f55d3e;
    color:#fff;
    border:0px solid #ffffff;
}
 
.subir:hover{
    color:rgb(51, 218, 18);
    background: #f7cb15;
}
.uplogo{
	font-size: 14px;
 font-weight: 600;
 color: #fff;
 background-color: #106BA0;
 display: inline-block;
 transition: all .5s;
 cursor: pointer;
 padding: 15px 40px !important;
 text-transform: uppercase;
 width: fit-content;
 text-align: center;
}
.sub-logo{    
  position: relative;
    left: -15%;
    top:125px;
    width: 100px;
    height: 40px;
    font-size: 15px;

 font-weight: 600;
    color: #ffffff;
    background-color: #0cd220;
}


.upload-btn-wrapper {
  position: absolute;
  overflow: hidden;
  display: inline-block;
  left: 40%;
  top: 10%;;
 
}

.btn {
  border: 2px solid #2853df;
  color: #1727e1;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.colores{
  position: relative;
  width: 80px;
  height: 50px;
  margin-right: 90px;
  left: 50px;
}


.parpadea {
  
  animation-name: parpadeo;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 2;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{  
  0% { opacity: 1.0; }
   50% { opacity: 0.1; }
  100% { opacity: 1.0; }
}
@-webkit-keyframes parpadeo { 
  0% { opacity: 1.0; }
   50% { opacity: 0.1; }
  100% { opacity: 1.0; }
}

@keyframes parpadeo {  
  0% { opacity: 1.0; }
   50% { opacity: 0.1; }
  100% { opacity: 1.0; }
}

.indica{    
    position: absolute;
    top:85%;
}
.ticket{
      position: absolute;
    top: 85%;
    left: 75%;
}

.status{
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%;
    margin: 12px;
}

.status:before{
    content: '';
    position: absolute;
    left: -8px;;
    top: -8px;
    width: 47px;
    height: 47px;
    border-radius: 70%;
   /*animation: pulse 1.5s infinite ease-in;*/

}

.status.online{
  background: #90e797;
}
.status.wait{

  background: #e9df96;

}
.status.offline{

  background: #eb9e9e;

}


@keyframes pulse{
    from{
        transform: scale(0.5);
        opacity: 1;
    }to{
        transform: scale(1.5);
        opacity: 0;
    }
}
.dinero{
  position: relative;
    float: right;
    display: grid;

    top: -120px;
}
.bills{    
    position: relative;
    float: right;
    padding-right: 30px;
}
.bill{
   position: relative;
    display: inline-block;
    width: 70px;
    border-radius: 20%;
    margin: 3px;
}
.bills img{    
       position: absolute;
    width: 100%;
    border-radius: 20px 10px;
}
.intermitente{
  animation: infinite resplandorAnimation 2s;
  
}
.coins{
  position: relative;
    float: right;
    padding-top: 30px;

}
.coin{
   position: relative;
    display: inline-block;
    width: 40px;
    border-radius: 50%;
    margin: 6px;
}
.coins img{    
       position: absolute;
    width: 100%;
}
@keyframes resplandorAnimation {
  0%,100%{
    box-shadow: 0px 0px 20px;
  }
  50%{
  box-shadow: 0px 0px 0px;
  
  }

}
.swal-wide{
    width: 900px !important;
    height: 500px ;
    font-size: 2rem !important;
}
.tarifa {
    position: absolute;
    width: 400px;
    left: 50px;
    top: 15%;
    font-size: 10px;
    display: inline-block;
}
.costos{
  position: absolute;
  top: 10px;
}
.online2, .offline2{
  display: inline-block;
  padding: 0.5rem;
  border-radius: 5px;
  margin: 1rem;
}

.online2{
  border: 3px solid green;
  color: green;
}

#total2 {
    font-size: 20px;
    left: 760px;
}
.tcolores{
  position: absolute;
width: 270%;
left: -130px;
}
.cancel{
  position: absolute;
  top: 80%;
  left: 80%;
}
.cancel img{
  width: 20%;
}